h1 {
  font-size: 6.5rem;
  color: black;
  font-family: "Baumans", cursive;
  padding-top: 0.5rem;
  text-transform: uppercase;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html, body {
  background-color: $green-bg;
  height: 100vh;
  width: 100vw;
}
