h1 {
  font-size: 6.5rem;
  color: black;
  font-family: "Baumans", cursive;
  padding-top: 1rem;
  text-transform: uppercase;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $blue-light;
}
